<div id="sidebar">
    <div id="title">
        <img src="assets/img/spotify.png" alt="">
        <span class="white">
            Spotify App
        </span>
    </div>
    <div id="menu">
        <a [routerLink]="[ '/home' ]" routerLinkActive="active">
            <div class="ico">
                <i class="fas fa-home"></i>
            </div>
            Home
        </a>
        <a [routerLink]="[ '/search' ]" routerLinkActive="active">
            <div class="ico">
                <i class="fas fa-search"></i>
            </div>
            Buscar
        </a>
    </div>
</div>